{% extends 'base.html' %}

{% block page %}Home{% endblock %}

{% block main %}
    <div class="jumbotron">
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}

        {% if user %}
            <div class="form-group">
                <label for="channel"><i class="fa fa-list fa-1x"></i> Server name - Channel name:</label>
                <select class="form-control" id="channel" onchange="update();">
                    <option selected="">Select channel</option>
                    {% for id, channel in channels %}
                        <option value="{{ id }}">{{ channel.server.name }} - {{ channel.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="user_id"><i class="fa fa-search fa-1x"></i> User ID:</label>
                <input type="text" class="form-control" id="user_id" onchange="update();" />
            </div>

            <div class="form-group">
                <label for="limit"><i class="fa fa-sort-numeric-asc fa-1x"></i> Maximum number of messages:</label>
                <input type="number" class="form-control" step="1" min="1" value="50" id="limit" onchange="update();">
            </div>


            <table class="table table-bordered hidden" id="messages">
                <thead>
                    <tr>
                        <th>Date &amp; time (UTC):</th>
                        <th>Message:</th>
                        <th>Discord name:</th>
                    </tr>
                </thead>

                <tbody id="messages_body"></tbody>
            </table>
        {% else %}
            <p class="text-info">
                Please login with Twitch using the link in the top-right.
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {% if user %}
        <script type="text/javascript">
            function htmlEntities(str) {
                return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
            }

            function nl2br(str) {
                return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + '<br>' + '$2');
            }

            function update() {
                var channel = $('#channel').val();
                var user_id = $('#user_id').val();
                var limit = parseInt($('#limit').val());
                $('#messages_body').html("");

                $.ajax({
                    url: "/api/messages",
                    headers: {
                        channel: channel,
                        user_id: (user_id || ""),
                        limit: (limit || 50)
                    },
                    dataType: "json",
                    success: function(data) {
                        $('#messages').removeClass('hidden');
                        var messages = data.messages;
                        messages.forEach(function(md) {
                            var message = htmlEntities(md.message);
                            if(md.edited) {
                                message = '<abbr title="Edited">' + message +'</abbr>';
                            }

                            message = nl2br(message);

                            $('#messages_body').append('<tr><th>' + moment(md.timestamp).utc().format() + '</th><td>' + message + '</td><td><abbr title="Click to copy Discord UID to clipboard" class="discord-uid" data-clipboard-action="copy" data-clipboard-text="' + md.user.id + '">' + htmlEntities(md.user.name + "#" + md.user.discriminator) + '</abbr></td></tr>');
                        });
                    }
                });
            }

            $(document).ready(function() {
                var clipboard = new Clipboard('.discord-uid');

            });
        </script>
    {% endif %}
{% endblock %}
